   /* В проекте одно семейство шрифтов, закинул его в global и добавил альтернативных
   Так же перекинул туда селектор для снятия буллитов и активных ссылок */
   
   /* header */

    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 92px 24px;
  }

  .header_menu {
    padding-left: 26px;
  }

  .header_links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: circle;
  }

  .header_links-list-item {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .3px;
    text-underline-offset: 3.5px;
    text-decoration-thickness: 1px;
  }

 .header_logo {
    padding-right: 151.5px;
  }

 .header_logo-image {
    width: 136px;
    height: auto;
  }

 .header_address {
    padding-right: 61px;
 }

 .address {
    font-size: 18px;
    font-style: normal;
    line-height: 23.5px;
    letter-spacing: .1px;
    text-underline-offset: 3.5px;
    text-decoration-thickness: 1px;
}

 /* cover */

 .cover {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(/images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125%;
    padding-bottom:  50px;
 }

 .overlay {
    position: absolute;
    inset: 0; 
    z-index: 0;
    background-color: #000;
    opacity: .6;
    width: 100%;
    height: 100%;
 }

.cover_title {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 30px;
    line-height: 115px;
    padding: 165px 50px 129px;
 }

 .aligned-text {
    display: block;
 }

 .aligned-text_center {
    padding-top: 12px;
    padding-left: 286px;
 }
 .aligned-text_right {
    padding-top: 5px;
    padding-left: 585px;
  }

 .letter-spacing-extended {
    padding-left: 30px;
  }

  .cover_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cover_description-text {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .1px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 78px;
  }

  .word-spacing-text {
    word-spacing: 18px;
  }

  .bet-button {
    position: relative;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    margin-right: 50px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
  }

  /* lots */

  .lots {
    margin: 179px 24px 0;
  }

  .lots_heading {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    padding-left: 40px;
  }

  .lots_card-list {
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    padding: 27px 0 30px;
  }

  .lots_card-list-item {
    position: relative;
    flex-grow: 1;
    width: 334px;
    height: 563px;
  }

  .card-link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 161%;
  }

  .card_title {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    line-height: 26.4px;
    padding: 51px 40px 0;
    z-index: 0;
  }

  .card_text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    padding: 0 40px 48px;
    z-index: 0;
  }

  .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
  }

  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
  }

  .card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
  }

  .lots_look-more-link {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin: 30px 0 0 40px;
    text-underline-offset: 4.5px;
  }

  /* about */

  .about {
    display: grid;
    grid-template-columns: repeat(3, 334px);
    grid-template-rows: 285px 312px;
    gap: 0 25px;
    margin: 146px 24px 0;
  }

  .about_logo {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 240px;
    background-color: #000;
    width: 240px;
    height: 240px;
    margin: 36px 0 0 47px;
  }

  .about_logo-image {
    width: 148px;
    height: auto;
  }

  .text_description {
    grid-column: 2/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about_title {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    padding-top: 137px;
  }

  .about_text {
    display: grid;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    letter-spacing: .1px;
    row-gap: 24px;
  }

  /* footer */

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 180px 50px 88px;
  }

  .footer_menu {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .footer_social-list {
    display: flex;
    column-gap: 48px;
    justify-content: end;
  }

  .footer_menu-list-item {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 3.5px;
    text-decoration-thickness: 1px;
  }

  .social-icon {
    height: 48px;
    width: auto;
  }
